Category/.idea
*.class
*.lst
Category/target/classes/META-INF/maven/com.example/category-service/pom.properties
Category/target/classes/META-INF/MANIFEST.MF
Category/target/classes/META-INF/maven/com.example/category-service/pom.xml
Category/.DS_Store
*/bin
*/target